<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div>
      <span class="logo">SGO</span>
      <button mat-button>
        <mat-icon>home</mat-icon>
        <span>Início</span>
      </button>
    </div>
    <div class="button-row">
      <button mat-flat-button color="accent">
        <mat-icon>person_add</mat-icon>
        <span>Criar Conta</span>
      </button>
      <button mat-flat-button color="accent">
        <mat-icon>login</mat-icon>
        <span>Entrar</span>
      </button>
      <button mat-flat-button color="warn">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
