<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="10px">
      <span class="logo">SGO</span>
      <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Início</span>
      </button>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxShow fxHide.lt-sm>
      <button mat-raised-button color="accent" routerLink="/cadastro" *ngIf="!isAuthenticated()">
        <mat-icon>person_add</mat-icon>
        <span>Criar Conta</span>
      </button>
      <button mat-raised-button color="accent" (click)="signIn()" *ngIf="!isAuthenticated()">
        <mat-icon>login</mat-icon>
        <span>Entrar</span>
      </button>
      <button mat-raised-button color="warn" (click)="signOut()" *ngIf="isAuthenticated()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </div>
    <div fxHide fxShow.xs>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <!-- <mat-icon>menu</mat-icon> -->
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/cadastro" *ngIf="!isAuthenticated()">
    <mat-icon>person_add</mat-icon>
    <span>Criar Conta</span>
  </button>
  <button mat-menu-item (click)="signIn()" *ngIf="!isAuthenticated()">
    <mat-icon>login</mat-icon>
    <span>Entrar</span>
  </button>
  <button mat-menu-item (click)="signOut()" *ngIf="isAuthenticated()">
    <mat-icon>logout</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>

<app-login-info [userProfile]="userProfile"></app-login-info>
