<div>
  <div>
    <b>access_token:</b>
    <pre>{{ loginService.access_token }}</pre>
  </div>
  <div>
    <b>access_token_expiration:</b>
    <pre>{{ loginService.access_token_expiration }}</pre>
  </div>
  <div>
    <b>has_valid_access_token:</b>
    <pre>{{ loginService.hasValidAccessToken }}</pre>
  </div>
  <div>
    <b>id_token:</b>
    <pre>{{ loginService.id_token }}</pre>
  </div>
  <div>
    <b>id_token_expiration:</b>
    <pre>{{ loginService.id_token_expiration }}</pre>
  </div>
  <div>
    <b>has_valid_id_token:</b>
    <pre>{{ loginService.hasValidIdToken }}</pre>
  </div>
  <div *ngIf="userProfile">
    <b>user_profile:</b>
    <pre>{{ userProfile | json }}</pre>
  </div>
</div>
