<div class="container">
  <mat-toolbar color="primary">
    <span *ngIf="username; else elseBlock">Bem-vindo, {{ username }}</span>
    <ng-template #elseBlock>Bem-vindo</ng-template>
  </mat-toolbar>
  <mat-card>
    <div *ngIf="!isAuthenticated" class="content">
      <p>Olá, bem-vindo ao Sistema de Gestão de Ocorrência.</p>
      <p>Aqui você poderá registrar e acompanhar ocorrências decorrentes de problemas relacionados à infra-estrutura
        urbana em sua região, tais como: conserto de buracos em calçadas e pistas, vazamento de água em canos da rede
        pública, falta de iluminação em postes, etc.</p>
      <p>Caso queira registrar uma ocorrência, por favor efetue o acesso ao sistema através do botão "Entrar" acima. Se
        você ainda não possui uma conta cadastrada, então primeiro faça seu cadastro.</p>
    </div>

    <div *ngIf="isAuthenticated" fxLayout="column" fxLayoutGap="100px">
      <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between start">
        <button mat-stroked-button>Registrar nova ocorrência</button>
        <button mat-stroked-button>Acompanhar minhas ocorrências</button>
      </div>

      <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between stretch">
        <span><b>Suas últimas ocorrências:</b></span>
        <app-listar-ocorrencia></app-listar-ocorrencia>
      </div>
    </div>

  </mat-card>
</div>
