<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bem-vindo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Olá, bem-vindo ao Sistema de Gestão de Ocorrência.</p>
      <p>Aqui você poderá registrar e acompanhar ocorrências decorrentes de problemas relacionados à infra-estrutura urbana em sua região, tais como: conserto de buracos em calçadas e pistas, vazamento de água em canos da rede pública, falta de iluminação em postes, etc.</p>
      <p>Caso queira registrar uma ocorrência, por favor efetue o acesso ao sistema através do botão "Entrar" acima. Se você ainda não possui uma conta cadastrada, então primeiro faça seu cadastro.</p>
    </mat-card-content>
  </mat-card>
</div>
