.container {
  margin: 10px;
}

.content {
  background-color: #9fd3c3;
  padding: 15px;
  border-radius: .2em;
  text-transform: uppercase;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
  padding: 25px;
}

table {
  width: 100%;
}
